{%extends "layout.html"%}
{%block content%}
    <div>
        <form method="POST" action=""">
            {{form.hidden_tag()}}
            <fieldset>
                <legend>Login to your account</legend>
            <div>
                {{form.email.label(class="")}}
                {{form.email(class="")}}
            </div>
            <div>
                {{form.password.label(class="")}}
                {{form.password(class="")}}
            </div>
            </fieldset>
            <div>
                {{ form.submit(class="") }}
            </div>
        </form>
    </div>
    <div>
        <small>Don't have an account? <a href="{{url_for('register')}}">Register</a></small>
    </div>
{%endblock content%}